{% extends "navigation/index.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
  <!-- Personal theme-->
  <link href="{% static 'openfoodfacts/css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
<div class="row h-100 justify-content-center" id="connexion-form">
    <!-- Connexion form -->
    <form class="col-6 h-25 justify-content-center align-self-center text-center">
        <h2 class="text-white-75 font-weight-light mb-5">Connexion</h2>

        <!--Username/email field-->
        <div class="form-row justify-content-center">
            <div class="col-5">
              {{ form.email|as_crispy_field }}
            </div>
        </div>

        <!--Password field-->
        <div class="form-row justify-content-center">
            <div class="col-5">
              {{ form.password|as_crispy_field }}
            </div>
        </div>

        <input class="row btn btn-primary input-connexion col-3" type="button" value="Connexion" />
    </form>
</div>

{% endblock %}

{% block content %}
{% endblock %}