/* Submit button */
.input-connexion{
    margin-top : 10px;
}

label{
    color : rgb(163, 162, 162);
    font-size : 15px;
}

#connexion-failed{
    color : red;
}

#connexion-failed-row{
    height : 30px;
    margin-bottom : 10px;
    width : auto;
}
